body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../imagenes/fondo-degradado-tonos-verdes_23-2148382072.avif);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; /* Ajusta este valor según sea necesario */
}

.header-text {
    font-size: 70px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #00CC66;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Ajusta este valor para asegurar que el formulario no se superponga con el icono */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: white;
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #00CC66;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #00994D;
}
